{{> header}}
    <body>
        <div>

          <a href="/">Home</a>
          <a href="/about">About</a>

            <h1>{{title}}</h1>

            <p>Some Content</p>
        </div>

        {{> footer}}
    </body>
</html>
